@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&display=swap');


body {
   background-image: url("/img/background.png");
   font-family: "DM Sans", serif;
}
.produtos-cadastrados-h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
}

.search {
    padding: 50px;
}

.search input {
    padding: 30px;
    font-size: 40px;
}

.search i {
    font-size: 40px;
    margin: 20px;
}

.produtos-cadastrados {
    margin: 50px;
    overflow-y: auto;
}

.produtos-cadastrados td,th {
    font-size: 40px;
    text-align: start;
}

.produtos-cadastrados table {
    width: 2000px;
}