<link rel="stylesheet" href="/style/admin/cadastro_produto/cadastro_produto.css">

    <div class="cadastro-produto-h1" style="display: flex; justify-content: center;">
        <h1>Cadastrar categoria</h1>
       <a href="/admin/cadastrar-produto" style="color: black; text-decoration: none;">
        <i class="fa-solid fa-backward"></i>
       </a>
    </div>

    <div class="container-formulario">
        <form>
            <label for="categoria" class="form-label">Categoria:</label>
            <input type="text" class="form-control" id="categoria" name="categoria">

            <button type="button" class="btn btn-primary">Cadastrar categoria</button>
        </form>
        
    </div>
    