<link rel="stylesheet" href="/style/login/login.css">

<h1 class="luh">Luh Piastrelli</h1>

<div class="div-formulario">
    <legend>Login</legend>
    <form>
        <label for="" class="form-label">Usuário</label>
        <input name="usuario" id="usuario" type="text" class="form-control" style="margin-bottom: 50px;">

        <label for="" class="form-label">Senha</label>
        <input name="senha" id="senha" type="password" class="form-control">

        <button type="submit">Entrar</button>
    </form>
</div>